@import "tailwindcss";

:root {
  --color-primary: #294370;
  --color-primary-hover: #203456;
  --color-accent: #ffcb5c;
  --color-accent-hover: #f6c459;
  --color-lightbg: #f4f6f8;
  --color-darktext: #1e293b;
}

@theme {
  --color-primary: #294370;
  --color-primary-hover: #203456;
  --color-accent: #ffcb5c;
  --color-accent-hover: #f6c459;
  --color-lightbg: #f4f6f8;
  --color-darktext: #1e293b;
}

/* Optional base styling */
body {
  background-color: var(--color-lightbg);
  color: var(--color-darktext);
}
